In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('matches.csv')
df

,qseqid,sseqid,pident,length,mismatch,gapopen,qstart,qend,sstart,send,evalue,bitscore
0,SRR5286959.4795,SIRV6,94.0,100,6,0,373,472,10724,10823,9.800000e-35,140.1
1,SRR5286959.4795,SIRV6,96.7,90,1,1,454,543,11021,11108,1.800000e-30,125.9
2,SRR5286959.4795,SIRV6,96.6,59,0,1,317,373,3106,3164,9.600000e-17,80.3
3,SRR5286959.4795,SIRV6,100.0,45,0,0,69,113,1137,1181,2.200000e-14,72.5
4,SRR5286959.4795,SIRV6,94.0,100,6,0,373,472,10724,10823,9.800000e-35,140.1
...,...,...,...,...,...,...,...,...,...,...,...,...
3544,SRR5286959.5557,SIRV2,93.4,121,4,3,636,753,1735,1854,3.900000e-36,146.4
3545,SRR5286959.5557,SIRV2,89.4,85,3,2,752,830,1973,2057,1.300000e-18,88.2
3546,SRR5286959.11651,SIRV4,86.7,451,28,17,46,466,3656,4104,1.900000e-110,391.7
3547,SRR5286959.11651,SIRV4,86.7,451,28,17,46,466,3656,4104,1.900000e-110,391.7
3548,SRR5286959.11651,SIRV4,96.4,138,3,1,466,603,5008,5143,2.800000e-51,195.1

In [34]:
truth = pd.read_csv('sirv.csv',encoding = "ISO-8859-1")
truth

,seqname,source,feature,start,end,score,strand,frame,attribute
0,SIRV1,LexogenSIRVData,exon,1001,1484,.,-,0,"gene_id ""SIRV1""; transcript_id ""SIRV101""; exon..."
1,SIRV1,LexogenSIRVData,exon,6338,6473,.,-,0,"gene_id ""SIRV1""; transcript_id ""SIRV101""; exon..."
2,SIRV1,LexogenSIRVData,exon,6561,6813,.,-,0,"gene_id ""SIRV1""; transcript_id ""SIRV101""; exon..."
3,SIRV1,LexogenSIRVData,exon,7553,7814,.,-,0,"gene_id ""SIRV1""; transcript_id ""SIRV101""; exon..."
4,SIRV1,LexogenSIRVData,exon,10283,10366,.,-,0,"gene_id ""SIRV1""; transcript_id ""SIRV101""; exon..."
...,...,...,...,...,...,...,...,...,...
334,SIRV7,LexogenSIRVData,exon,70884,70987,.,-,0,"gene_id ""SIRV7""; transcript_id ""SIRV708""; exon..."
335,SIRV7,LexogenSIRVData,exon,78842,78908,.,-,0,"gene_id ""SIRV7""; transcript_id ""SIRV708""; exon..."
336,SIRV7,LexogenSIRVData,exon,78929,78963,.,-,0,"gene_id ""SIRV7""; transcript_id ""SIRV708""; exon..."
337,SIRV7,LexogenSIRVData,exon,114687,114960,.,-,0,"gene_id ""SIRV7""; transcript_id ""SIRV708""; exon..."
338,SIRV7,LexogenSIRVData,exon,147609,147957,.,-,0,"gene_id ""SIRV7""; transcript_id ""SIRV708""; exon..."

In [35]:
d_exon = {}
d_aln = {}
for i in truth.index:
    zoom_truth = pd.Interval(truth.loc[i, 'start'],truth.loc[i, 'end'],closed='both')
    d_exon[i] = 0
    d_aln[i] = 0
    for j in df.index:
        zoom_df = pd.Interval(df.loc[j, 'sstart '],df.loc[j, 'send '],closed='both')
        if str(truth.loc[i, 'seqname']) == str(df.loc[j, 'sseqid ']) and zoom_truth.overlaps(zoom_df) and truth.loc[i, 'start'] <= df.loc[j, 'sstart '] and df.loc[j, 'send '] <= truth.loc[i, 'end'] :
            d_exon[i] = d_exon[i] +1
        if str(truth.loc[i, 'seqname']) == str(df.loc[j, 'sseqid ']) and zoom_truth.overlaps(zoom_df) :
            d_aln[i] = d_aln[i] +1

In [36]:
exon_count_ = 0
for key, val in d_exon.items():
    if val > 0:
        exon_count_ = exon_count_ + 1
print("exon_count_ = ", exon_count_)
aln_count_ = 0
for key, val in d_aln.items():
    if val > 0:
        aln_count_ = aln_count_ + 1
print("aln_count_ = ", aln_count_)

exon_count_ =  249
aln_count_ =  309

In [37]:
print((249/339)*100)

73.45132743362832

In [38]:
df1 = pd.read_csv('matches_1.csv')
df1

,qseqid,sseqid,pident,length,mismatch,gapopen,qstart,qend,sstart,send,evalue,bitscore
0,SRR5286959.4795,SIRV6,94.0,100,6,0,373,472,10724,10823,9.800000e-35,140.1
1,SRR5286959.4795,SIRV6,96.7,90,1,1,454,543,11021,11108,1.800000e-30,125.9
2,SRR5286959.4795,SIRV6,95.7,70,2,1,540,608,11202,11271,1.800000e-21,96.0
3,SRR5286959.4795,SIRV6,96.6,59,0,1,317,373,3106,3164,9.600000e-17,80.3
4,SRR5286959.4795,SIRV6,100.0,45,0,0,69,113,1137,1181,2.200000e-14,72.5
...,...,...,...,...,...,...,...,...,...,...,...,...
4471,SRR5286959.5557,SIRV2,89.4,85,3,2,752,830,1973,2057,1.300000e-18,88.2
4472,SRR5286959.11651,SIRV4,86.7,451,28,17,46,466,3656,4104,1.900000e-110,391.7
4473,SRR5286959.11651,SIRV4,96.4,138,3,1,466,603,5008,5143,2.800000e-51,195.1
4474,SRR5286959.11651,SIRV4,86.7,451,28,17,46,466,3656,4104,1.900000e-110,391.7
4475,SRR5286959.11651,SIRV4,96.4,138,3,1,466,603,5008,5143,2.800000e-51,195.1

In [39]:
d_exon1 = {}
d_aln1 = {}
for i in truth.index:
    zoom_truth = pd.Interval(truth.loc[i, 'start'],truth.loc[i, 'end'],closed='both')
    d_exon1[i] = 0
    d_aln1[i] = 0
    for j in df1.index:
        zoom_df = pd.Interval(df1.loc[j, 'sstart '],df1.loc[j, 'send '],closed='both')
        if str(truth.loc[i, 'seqname']) == str(df1.loc[j, 'sseqid ']) and zoom_truth.overlaps(zoom_df) and truth.loc[i, 'start'] <= df1.loc[j, 'sstart '] and df1.loc[j, 'send '] <= truth.loc[i, 'end'] :
            d_exon1[i] = d_exon1[i] +1
        if str(truth.loc[i, 'seqname']) == str(df1.loc[j, 'sseqid ']) and zoom_truth.overlaps(zoom_df):
            d_aln1[i] = d_aln1[i] +1

In [40]:
exon_count_1 = 0
for key, val in d_exon.items():
    if val > 0:
        exon_count_1 = exon_count_1 + 1
print("exon_count_ 1= ", exon_count_1)
aln_count_1 = 0
for key, val in d_aln.items():
    if val > 0:
        aln_count_1 = aln_count_1 + 1
print("aln_count_1 = ", aln_count_1)

exon_count_ 1=  249
aln_count_1 =  309

In [41]:
def bam_to_df(sam):
    ref = []
    seq = []
    name = []
    pos = []
    tlen = []
    end = []
    for read in sam:
        ref.append(read.rname)
        seq.append(len(read.seq))
        name.append(read.qname)
        pos.append(read.pos)
        tlen.append(len(read.cigar))
    return pd.DataFrame({'ref': ref,'qname':name ,'pos': pos, 'len': seq})

import pysam
from pandas import DataFrame
#myfile = pysam.AlignmentFile('aln_SIRV.sam', 'rb') 
#bam_to_df(myfile)
from simplesam import Reader, Writer
in_file = open('aln_SIRV.sam', 'r')
in_sam = Reader(in_file)
sam  = bam_to_df(in_sam)

In [42]:
sam

        ref             qname   pos   len
0     SIRV6   SRR5286959.4795  1137   646
1     SIRV4   SRR5286959.3968  1455   930
2         *   SRR5286959.8600     0   529
3     SIRV1  SRR5286959.10827  1005  1563
4     SIRV6   SRR5286959.4547  1125   624
...     ...               ...   ...   ...
996   SIRV4  SRR5286959.11651  3665   684
997   SIRV3   SRR5286959.2682  1001   516
998       *   SRR5286959.8309     0   707
999   SIRV6   SRR5286959.5852  1125   645
1000      *   SRR5286959.8683     0   788

[1001 rows x 4 columns]

In [44]:
in_sam

In [51]:
sam_csv = pd.read_csv('aln_mm.csv')

In [52]:
sam_csv

,Query_ID,Query_begin,Query_end,Ref_ID,Ref_begin,Ref_end,Map_Qual
0,SRR5286959.4795,68,594,SIRV6,1137,1667,60
1,SRR5286959.3968,22,844,SIRV4,1455,2307,60
2,SRR5286959.8600,0,0,*,0,0,0
3,SRR5286959.10827,33,1485,SIRV1,1005,2479,60
4,SRR5286959.4547,29,570,SIRV6,1125,1668,60
...,...,...,...,...,...,...,...
996,SRR5286959.11651,54,590,SIRV4,3665,4214,60
997,SRR5286959.2682,26,453,SIRV3,1001,1437,60
998,SRR5286959.8309,0,0,*,0,0,0
999,SRR5286959.5852,25,544,SIRV6,1125,1643,60
1000,SRR5286959.8683,0,0,*,0,0,0

In [53]:
sam_csv.columns

Index(['Query_ID', 'Query_begin', 'Query_end', 'Ref_ID', 'Ref_begin',
       'Ref_end', 'Map_Qual'],
      dtype='object')

In [54]:
d_exon_sam = {}
d_aln_sam = {}
for i in truth.index:
    zoom_truth = pd.Interval(truth.loc[i, 'start'],truth.loc[i, 'end'],closed='both')
    d_exon_sam[i] = 0
    d_aln_sam[i] = 0
    for j in sam.index:
        #print(sam.loc[j, 'pos'],":",sam.loc[j, 'pos']+sam.loc[j, 'len'])
        zoom_df = pd.Interval(sam_csv.loc[j, 'Ref_begin'],sam_csv.loc[j, 'Ref_end'],closed='both')
        if str(truth.loc[i, 'seqname']) == str(sam_csv.loc[j, 'Ref_ID']) and zoom_truth.overlaps(zoom_df) and truth.loc[i, 'start'] <= sam_csv.loc[j, 'Ref_begin'] and sam_csv.loc[j, 'Ref_end'] <= truth.loc[i, 'end'] :
            d_exon_sam[i] = d_exon_sam[i] +1
        if str(truth.loc[i, 'seqname']) == str(sam_csv.loc[j, 'Ref_ID']) and zoom_truth.overlaps(zoom_df):
            d_aln_sam[i] = d_aln_sam[i] +1

exon_count_sam = 0
for key, val in d_exon_sam.items():
    if val > 0:
        exon_count_sam = exon_count_sam + 1
print("exon_count_sam = ", exon_count_sam)
aln_count_sam = 0
for key, val in d_aln_sam.items():
    if val > 0:
        aln_count_sam = aln_count_sam + 1
print("aln_count_sam = ", aln_count_sam)

exon_count_sam =  5
aln_count_sam =  215